<% content_for :title, "イベント編集" %>

<div class="title">
  <h1>イベント編集</h1>
  <div class="user-links">
    <%= link_to "イベント詳細に戻る", @event, class: "btn btn-secondary" %> <br>
    <%= link_to "イベント一覧に戻る", events_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="event-form-container">
  <%= render "form", event: @event %>
</div>

<br>


